{{template "base" .}}
{{define "title"}}Forum - Dashboard{{end}}
{{define "username"}}{{.User.Username}}{{end}}
{{define "content"}}
<!-- Start: post-menu-container -->
<div class="container-fluid">
    <div class="float-end" id="divpost">
        <!-- Start: psotCategoryDiv -->
        <div class="d-flex flex-row">
            <!-- Start: postheader -->
            <div class="col-6">
                <h2 style="margin-top: 10px;margin-left: 10px;">Dashboard:</h2>
            </div><!-- End: postheader -->
            <!-- Start: categoryColumn -->
            <div class="col-6">
                <!-- Start: Category -->
                <form></form><!-- End: Category -->
            </div><!-- End: categoryColumn -->
        </div><!-- End: psotCategoryDiv -->
        {{if .LoggedIn}}
        <div id="posts">
            <!-- Start: post-column -->
            <div class="col"
                style="box-shadow: 2px 2px 4px 4px;border-radius: 10px;background: rgba(244,240,240,0.7);padding: 10px;margin: 10px;">
                <div class="row">
                    <div class="col d-flex flex-column align-items-xl-start" style="padding: 10px;">
                        <div class="d-xl-flex align-items-xl-center" style="margin: 10px;"><img
                                src="static/template/assets/img/icons/user.png" style="margin-right: 10px;"><span
                                style="margin-right: 10px;">&nbsp;Username:&nbsp;</span><span
                                style="margin-right: 10px;">{{ .User.Username}}</span></div>
                        <div class="d-xl-flex align-items-xl-center" style="margin: 10px;"><img
                                src="static/template/assets/img/icons/email.png" style="margin-right: 10px;"><span
                                style="margin-right: 10px;">&nbsp;Email:&nbsp;</span><span
                                style="margin-right: 10px;">{{ .User.Email}}</span></div>
                    </div>
                    <div class="col d-flex justify-content-end align-items-xxl-center"
                        style="text-align: right;padding: 10px;">
                        <div class="d-xl-flex flex-column flex-fill" style="padding: 20px;"><a
                                class="btn btn-dark d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-start justify-content-sm-start justify-content-md-start justify-content-lg-start align-items-lg-center align-items-xl-center"
                                role="button"
                                style="margin-bottom: 10px;box-shadow: 2px 2px 4px 2px rgb(0,0,0);border-radius: 10px;"
                                href="myPosts"><img
                                    class="d-flex d-sm-flex justify-content-start justify-content-sm-start"
                                    src="static/template/assets/img/icons/email.png" style="margin-right: 3px;">&nbsp;My
                                Posts</a><a
                                class="btn btn-dark d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-start justify-content-sm-start justify-content-md-start justify-content-lg-start align-items-lg-center align-items-xl-center"
                                role="button"
                                style="margin-bottom: 10px;box-shadow: 2px 2px 4px 2px rgb(0,0,0);border-radius: 10px;"
                                href="likedPosts"><img
                                    class="d-flex d-sm-flex justify-content-start justify-content-sm-start"
                                    src="static/template/assets/img/icons/like.png" style="margin-right: 3px;">&nbsp;
                                Liked
                                posts</a><a
                                class="btn btn-dark d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-start justify-content-sm-start justify-content-md-start justify-content-lg-start align-items-lg-center align-items-xl-center"
                                role="button"
                                style="margin-bottom: 10px;box-shadow: 2px 2px 4px 2px rgb(0,0,0);border-radius: 10px;"
                                href="dislikedPosts"><img
                                    class="d-flex d-sm-flex justify-content-start justify-content-sm-start"
                                    src="static/template/assets/img/icons/dislike.png"
                                    style="margin-right: 3px;">&nbsp;
                                Disliked posts</a><a
                                class="btn btn-dark d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-start justify-content-sm-start justify-content-md-start justify-content-lg-start align-items-lg-center align-items-xl-center"
                                role="button"
                                style="margin-bottom: 10px;box-shadow: 2px 2px 4px 2px rgb(0,0,0);border-radius: 10px;"
                                href="commentedPosts"><img
                                    class="d-flex d-sm-flex justify-content-start justify-content-sm-start"
                                    src="static/template/assets/img/icons/comments.png"
                                    style="margin-right: 3px;">&nbsp;
                                Commented</a></div>
                    </div>
                </div>
            </div><!-- End: post-column -->
        </div>
        {{else}}
        <div class="col" style="padding: 10px;">
            <p> Looks like you are trying to jump the gun, cowboy 🤠</p>
            <p> If y'all wanna see your profile, you gotta first register or sign in. It's easy as pie, I
                tell ya!</p>
        </div>
{{end}}
    </div>
</div><!-- End: post-menu-container -->
{{end}}
{{define "script"}}
{{end}}