{{template "base" .}}
{{define "title"}}Forum - Create post{{end}}
{{define "username"}}{{.User.Username}}{{end}}
{{define "content"}}
        <!-- Start: post-menu-container -->
        <div class="container-fluid">
            <div class="float-end" id="divpost">
                <!-- Start: header div -->
                <div class="d-flex flex-row">
                    <!-- Start: postheader -->
                    <div class="col-6">
                        <h2 style="margin-top: 10px;margin-left: 10px;">Edit Post:</h2>
                    </div><!-- End: postheader -->
                    <!-- Start: categoryColumn -->
                    <div class="col-6">
                        <!-- Start: Category -->
                        <form>
                            <p></p>
                        </form><!-- End: Category -->
                    </div><!-- End: categoryColumn -->
                </div><!-- End: header div -->
                <div id="editPost">
                    <!-- Start: newpostColumn -->
                        <div class="col"
                        style="margin: 10px;box-shadow: 2px 2px 4px 4px;border-radius: 10px;background: rgba(244,240,240,0.7);padding: 10px;">
                        <form id="newPostForm" action="/updatePost" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="id"
                                value="{{.Post.Id}}">
                            <!-- Start: TitleRow -->
                            <div class="row my-3">
                                <div class="col-12 col-sm-12 col-md-4 d-flex align-items-center align-items-lg-center">
                                    <h2>Title:</h2>
                                </div>
                                <div class="col-sm-12 col-md-8 d-flex align-items-center"><textarea
                                        class="form-control d-flex align-items-center" type="text" id="TitleInput" name="title"
                                        placeholder="Write a Title..." required="" minlength="3" maxlength="50" rows="1"
                                        wrap="soft">{{ if .Post}}{{.Post.Title}}{{end}}</textarea></div>
                            </div><!-- End: TitleRow -->
                            <!-- Start: CategoriesRow -->
                            <div class="row my-3">
                                <div class="col-12 col-sm-12 col-md-4 d-flex align-items-center align-items-lg-center">
                                    <!-- Start: categoriesHeading -->
                                    <h2>Categories:</h2><!-- End: categoriesHeading -->
                                </div>
                                <div class="col-sm-12 col-md-8 d-flex align-items-center flex-wrap">
                                    <!-- Start: categoriesCheckbox -->
                                    {{range .Threads}}
                                    <div class="form-check form-check-inline"><input class="form-check-input" type="checkbox"
                                            name="threads" value="{{.}}" id="formCheck-2"><label class="form-check-label"
                                            for="formCheck-2">{{.}}</label></div>
                                    <!-- End: categoriesCheckbox -->
                                    {{end}}

                                </div>
                                <div>
                                    {{if .Message}}
                                    <p class="text-danger">{{index .Message.Errors "Threads"}}</p>
                                    {{end}}
                                </div>

                            </div><!-- End: CategoriesRow -->
                            <!-- Start: TitleRow -->
                            <div class="row my-3">
                                <div class="col-12 col-sm-12 col-md-4 d-flex align-items-center align-items-lg-center">
                                    <h2>File:</h2>
                                </div>
                                <div class="col-sm-12 col-md-8 d-flex align-items-center row">
                                    <div class="col-12" style="overflow: hidden;" id="file-name">{{if .Post.Image}}<img class="img-fluid" src="/static/template/assets/img/{{.Post.Image}}"
                                        style="max-width: 90%;max-height: 150px;margin: 10px 10px;">{{end}}</div>
                                    <div class="col-12">
                                    <input class="form-control" type="file" name="image" id="file-input" value="{{.Post.Image}}" accept="image/*">
                                    </div>
                                </div>
                                <div>
                                    {{if .Message}}
                                    <p class="text-danger">{{index .Message.Errors "Image"}}</p>
                                    {{end}}
                                </div>
                            </div><!-- End: TitleRow -->
                            <!-- Start: TitleRow -->
                            <div class="row my-3">
                                <div class="col-12 col-sm-12 col-md-4 d-flex align-items-center align-items-lg-center">
                                    <h2>Content:</h2>
                                </div>
                                <div class="col-sm-12 col-md-8 d-flex align-items-center"><textarea
                                        class="form-control form-control-lg" name="content"
                                        placeholder="Please type your text here..." rows="3" wrap="soft" minlength="3"
                                        maxlength="500" required="">{{ if .Post}}{{.Post.Content}}{{end}}</textarea></div>
                            </div><!-- End: TitleRow -->
                            <div class="row">
                                <div class="col d-flex d-lg-flex justify-content-end justify-content-lg-end"><button
                                        class="btn btn-dark btn-lg" type="submit"
                                        style="border-radius: 20px;box-shadow: 2px 2px 4px 2px rgb(0,0,0);">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div><!-- End: newpostColumn -->
                </div>
            </div>
        </div><!-- End: post-menu-container -->
{{end}}

{{define "script"}}
        <script>
            document.addEventListener("DOMContentLoaded", function (event) {
                var scrollpos = sessionStorage.getItem('scrollpos');
                if (scrollpos) {
                    window.scrollTo({
                        top: scrollpos,
                        behavior: 'instant',
                    });
                    sessionStorage.removeItem('scrollpos');
                }
            });
            document.querySelectorAll('.reaction-form').forEach(item => {
                item.addEventListener('submit', event => {
                    sessionStorage.setItem('scrollpos', window.scrollY);
                })
            })
            function submit() {
                let form = document.getElementById("dropdown");
                form.submit();
            }
        </script>
        <script>
            fileInput = document.getElementById("file-input")
            fileInput.addEventListener('change', () => {
                if (fileInput.files.length > 0) {
                    document.getElementById("file-name").classList.add("hidden")
                }
            });
        </script>
{{end}}