<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Forum3</title>
    <link rel="icon" type="image/png" sizes="64x64" href="assets/img/icons/forum.png">
    <link rel="icon" type="image/png" sizes="64x64" href="assets/img/icons/forum.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="background: url(&quot;assets/img/03.png&quot;) top / cover repeat;">
    <section id="herosection" style="width: 100%;height: 100vh;">
        <!-- Start: NavbarGuest -->
        <nav class="navbar navbar-dark navbar-expand-md shadow py-3" id="NavBarGuest"
            style="background: rgba(16,42,77,0.8);margin-top: -10px;">
            <div class="container-fluid"><a class="navbar-brand d-flex align-items-center" href="#"><img
                        class="img-fluid shadow" src="/static/template/assets/img/icons/forum.png"
                        style="width: 42px;box-shadow: 0px 0px;"><span></span><span>&nbsp;FORUM</span></a>
                <div class="collapse navbar-collapse d-flex justify-content-start align-items-center m-auto"
                    id="navcol-5" style="margin-top: 10px;margin-bottom: 10px;">
                    <ul class="navbar-nav ms-auto"></ul><button class="btn btn-dark d-lg-flex align-items-lg-center"
                        type="button"
                        style="border-radius: 20px;box-shadow: 2px 2px 4px 2px rgb(0,0,0);margin-right: 10px;font-size: 12px;"
                        data-bs-target="#signin" data-bs-toggle="modal"><img
                            src="/static/template/assets/img/icons/user.png"><span>Register</span></button><a
                        class="btn btn-dark d-lg-flex align-items-lg-center ms-md-2" role="button" href="#"
                        style="border-radius: 20px;box-shadow: 2px 2px 4px 2px rgb(0,0,0);font-size: 12px;"
                        data-bs-target="#signup" data-bs-toggle="modal"><img
                            src="/static/template/assets/img/icons/login.png"><span>Sign In</span></a>
                </div>
            </div>
        </nav><!-- End: NavbarGuest -->
        <!-- Start: NavBarUser -->
        <nav class="navbar navbar-dark navbar-expand-md shadow py-3" id="NavBarUser"
            style="background: rgba(16,42,77,0.8);margin-top: -10px;">
            <div class="container-fluid"><a class="navbar-brand d-flex align-items-center" href="#"><img
                        class="img-fluid shadow" src="/static/template/assets/img/icons/forum.png"
                        style="width: 42px;box-shadow: 0px 0px;"><span></span><span>&nbsp;FORUM</span></a>
                <div class="collapse navbar-collapse d-flex justify-content-start align-items-center m-auto"
                    id="navcol-2" style="margin-top: 10px;margin-bottom: 10px;">
                    <ul class="navbar-nav ms-auto"></ul><button class="btn btn-dark d-lg-flex align-items-lg-center"
                        type="button"
                        style="border-radius: 20px;box-shadow: 2px 2px 4px 2px rgb(0,0,0);margin-right: 10px;font-size: 12px;"
                        data-bs-target="#modal-1" data-bs-toggle="modal"><img
                            src="/static/template/assets/img/icons/notification.png"><span>New
                            Notification</span></button><a class="btn btn-dark d-lg-flex align-items-lg-center"
                        role="button"
                        style="border-radius: 20px;box-shadow: 2px 2px 4px 2px rgb(0,0,0);margin-right: 10px;font-size: 12px;"
                        href="/dashBoard"><img
                            src="/static/template/assets/img/icons/user.png"><span>{{User.User}}</span></a><a
                        class="btn btn-dark d-lg-flex align-items-lg-center ms-md-2" role="button" href="/logout"
                        style="border-radius: 20px;box-shadow: 2px 2px 4px 2px rgb(0,0,0);font-size: 12px;"><img
                            src="/static/template/assets/img/icons/login.png"><span>Logout</span></a>
                </div>
            </div>
        </nav><!-- End: NavBarUser -->
        <!-- Start: post-menu-container -->
        <div class="container-fluid">
            <!-- Start: divLeftMenu -->
            <div class="float-start" id="divmenu">
                <!-- Start: menu-column -->
                <div class="col" id="column">
                    <h2 style="margin-top: 10px;margin-left: 10px;">Menu</h2>
                </div><!-- End: menu-column -->
                <!-- Start: LeftMenu -->
                <nav class="navbar navbar-light navbar-expand-md" style="width: 80%;">
                    <div class="container-fluid"><button data-bs-toggle="collapse" class="navbar-toggler"
                            data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span
                                class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navcol-1">
                            <ul class="navbar-nav d-flex flex-column flex-fill">
                                <!-- Start: main -->
                                <li class="nav-item d-flex flex-column" style="margin-top: 10px;"><a
                                        class="btn btn-dark d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-start justify-content-sm-start justify-content-md-start justify-content-lg-start align-items-lg-center align-items-xl-center"
                                        role="button"
                                        style="margin-bottom: 10px;box-shadow: 2px 2px 4px 2px rgb(0,0,0);border-radius: 10px;"
                                        href="/"><img
                                            class="d-flex d-sm-flex justify-content-start justify-content-sm-start"
                                            src="assets/img/icons/house.png" style="margin-right: 3px;">&nbsp;Home</a>
                                </li><!-- End: main -->
                                <!-- Start: user -->
                                <li class="nav-item d-flex flex-column"><a
                                        class="btn btn-dark d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-start justify-content-sm-start justify-content-md-start justify-content-lg-start align-items-lg-center align-items-xl-center"
                                        role="button"
                                        style="margin-bottom: 10px;box-shadow: 2px 2px 4px 2px rgb(0,0,0);border-radius: 10px;"
                                        href="dashBoard"><img
                                            class="d-flex d-sm-flex justify-content-start justify-content-sm-start"
                                            src="assets/img/icons/user.png"
                                            style="margin-right: 3px;">&nbsp;Dashboard</a><a
                                        class="btn btn-dark d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-start justify-content-sm-start justify-content-md-start justify-content-lg-start align-items-lg-center align-items-xl-center"
                                        role="button"
                                        style="margin-bottom: 10px;box-shadow: 2px 2px 4px 2px rgb(0,0,0);border-radius: 10px;"
                                        href="myPosts"><img
                                            class="d-flex d-sm-flex justify-content-start justify-content-sm-start"
                                            src="assets/img/icons/email.png" style="margin-right: 3px;">&nbsp;My
                                        Posts</a><a
                                        class="btn btn-dark d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-start justify-content-sm-start justify-content-md-start justify-content-lg-start align-items-lg-center align-items-xl-center"
                                        role="button"
                                        style="margin-bottom: 10px;box-shadow: 2px 2px 4px 2px rgb(0,0,0);border-radius: 10px;"
                                        href="likedPosts"><img
                                            class="d-flex d-sm-flex justify-content-start justify-content-sm-start"
                                            src="assets/img/icons/like.png" style="margin-right: 3px;">&nbsp;Liked
                                        Posts</a><a
                                        class="btn btn-dark d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-start justify-content-sm-start justify-content-md-start justify-content-lg-start align-items-lg-center align-items-xl-center"
                                        role="button"
                                        style="margin-bottom: 10px;box-shadow: 2px 2px 4px 2px rgb(0,0,0);border-radius: 10px;"
                                        href="dislikedPosts"><img
                                            class="d-flex d-sm-flex justify-content-start justify-content-sm-start"
                                            src="assets/img/icons/dislike.png" style="margin-right: 3px;">&nbsp;Disliked
                                        Posts</a><a
                                        class="btn btn-dark d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-start justify-content-sm-start justify-content-md-start justify-content-lg-start align-items-lg-center align-items-xl-center"
                                        role="button"
                                        style="margin-bottom: 10px;box-shadow: 2px 2px 4px 2px rgb(0,0,0);border-radius: 10px;"
                                        href="commentedPosts"><img
                                            class="d-flex d-sm-flex justify-content-start justify-content-sm-start"
                                            src="assets/img/icons/comments.png"
                                            style="margin-right: 3px;">&nbsp;Commented</a><a
                                        class="btn btn-dark d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-start justify-content-sm-start justify-content-md-start justify-content-lg-start align-items-lg-center align-items-xl-center"
                                        role="button"
                                        style="margin-bottom: 10px;box-shadow: 2px 2px 4px 2px rgb(0,0,0);border-radius: 10px;"
                                        href="createPost"><img src="assets/img/icons/notes.png"
                                            style="margin-right: 3px;">&nbsp;New Post</a></li><!-- End: user -->
                                <li class="nav-item"></li>
                            </ul>
                        </div>
                    </div>
                </nav><!-- End: LeftMenu -->
            </div><!-- End: divLeftMenu -->
            <div class="float-end" id="divpost">
                <!-- Start: header div -->
                <div class="d-flex flex-row">
                    <!-- Start: postheader -->
                    <div class="col-6">
                        <h2 style="margin-top: 10px;margin-left: 10px;">Edit Post:</h2>
                    </div><!-- End: postheader -->
                    <!-- Start: categoryColumn -->
                    <div class="col-6">
                        <!-- Start: Category -->
                        <form>
                            <p></p>
                        </form><!-- End: Category -->
                    </div><!-- End: categoryColumn -->
                </div><!-- End: header div -->
                <div id="createPost">
                    <!-- Start: newpostColumn -->
                    <div class="col"
                        style="margin: 10px;box-shadow: 2px 2px 4px 4px;border-radius: 10px;background: rgba(244,240,240,0.7);padding: 10px;">
                        <form id="newPostForm" action="/editPost" method="post" enctype="multipart/form-data">
                            <!-- Start: TitleRow -->
                            <div class="row my-3">
                                <div class="col-12 col-sm-12 col-md-4 d-flex align-items-center align-items-lg-center">
                                    <h2>Title:</h2>
                                </div>
                                <div class="col-sm-12 col-md-8 d-flex align-items-center"><input
                                        class="form-control d-flex align-items-center" type="text" id="TitleInput"
                                        name="title" placeholder="{{.Post.Title}}" required="" minlength="3"
                                        maxlength="50"></div>
                            </div><!-- End: TitleRow -->
                            <!-- Start: CategoriesRow -->
                            <div class="row my-3">
                                <div class="col-12 col-sm-12 col-md-4 d-flex align-items-center align-items-lg-center">
                                    <!-- Start: categoriesHeading -->
                                    <h2>Categories:</h2><!-- End: categoriesHeading -->
                                </div>
                                <div class="col-sm-12 col-md-8 d-flex align-items-center flex-wrap">
                                    <!-- Start: categoriesCheckbox -->
                                    <div class="form-check form-check-inline"><input class="form-check-input"
                                            type="checkbox" id="formCheck-2"><label class="form-check-label"
                                            for="formCheck-2">Go</label></div><!-- End: categoriesCheckbox -->
                                    <!-- Start: categoriesCheckbox -->
                                    <div class="form-check form-check-inline"><input class="form-check-input"
                                            type="checkbox" id="formCheck-6"><label class="form-check-label"
                                            for="formCheck-6">JavaScript</label></div><!-- End: categoriesCheckbox -->
                                    <!-- Start: categoriesCheckbox -->
                                    <div class="form-check form-check-inline"><input class="form-check-input"
                                            type="checkbox" id="formCheck-5"><label class="form-check-label"
                                            for="formCheck-5">Rust</label></div><!-- End: categoriesCheckbox -->
                                    <!-- Start: categoriesCheckbox -->
                                    <div class="form-check form-check-inline"><input class="form-check-input"
                                            type="checkbox" id="formCheck-4"><label class="form-check-label"
                                            for="formCheck-4">Mobile</label></div><!-- End: categoriesCheckbox -->
                                    <!-- Start: categoriesCheckbox -->
                                    <div class="form-check form-check-inline"><input class="form-check-input"
                                            type="checkbox" id="formCheck-3"><label class="form-check-label"
                                            for="formCheck-3">Games</label></div><!-- End: categoriesCheckbox -->
                                </div>
                            </div><!-- End: CategoriesRow -->
                            <!-- Start: TitleRow -->
                            <div class="row my-3">
                                <div class="col-12 col-sm-12 col-md-4 d-flex align-items-center align-items-lg-center">
                                    <h2>Image:</h2>
                                </div>
                                <div class="col-sm-12 col-md-8 d-flex align-items-center"><button
                                        class="btn btn-danger btn-lg" type="button">Delete Image</button></div>
                            </div><!-- End: TitleRow -->
                            <!-- Start: TitleRow -->
                            <div class="row my-3">
                                <div class="col-12 col-sm-12 col-md-4 d-flex align-items-center align-items-lg-center">
                                    <h2>Message:</h2>
                                </div>
                                <div class="col-sm-12 col-md-8 d-flex align-items-center"><textarea
                                        class="form-control form-control-lg" name="textarea"
                                        placeholder="{{.Post.Text}}" rows="3" wrap="soft" minlength="3"
                                        maxlength="500"></textarea></div>
                            </div><!-- End: TitleRow -->
                            <div class="row">
                                <div class="col d-flex d-lg-flex justify-content-end justify-content-lg-end"><button
                                        class="btn btn-dark btn-lg" type="submit"
                                        style="border-radius: 20px;box-shadow: 2px 2px 4px 2px rgb(0,0,0);">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div><!-- End: newpostColumn -->
                </div>
            </div>
        </div><!-- End: post-menu-container -->
        <!-- Start: notification-modal -->
        <div class="modal fade" role="dialog" tabindex="-1" id="modal-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="background: #000000;">
                        <h4 class="modal-title" style="color: rgb(255,255,255);">Notifications</h4><button type="button"
                            class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <p style="color: rgb(0,0,0);">((gonotification)</p>
                        </div>
                    </div>
                    <div class="modal-footer"><button class="btn btn-dark" type="button" data-bs-dismiss="modal"
                            style="border-style: solid;border-radius: 10px;">Close</button></div>
                </div>
            </div>
        </div><!-- End: notification-modal -->
        <!-- Start: signin -->
        <div class="modal fade" role="dialog" tabindex="-1" id="signup">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Sign In</h4><button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group mb-3">
                                <div class="input-group"><span class="text-primary input-group-text"><svg
                                            xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                            fill="currentColor" viewBox="0 0 16 16" class="bi bi-envelope-fill">
                                            <path
                                                d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z">
                                            </path>
                                        </svg></span><input class="form-control" type="email" required=""
                                        placeholder="Email"></div>
                            </div>
                            <div class="form-group mb-3">
                                <div class="input-group"><span class="text-primary input-group-text"><i
                                            class="fa fa-lock"></i></span><input class="form-control" type="password"
                                        required="" placeholder="Password"></div>
                            </div>
                            <div class="form-group mb-3"><button class="btn btn-primary btn-lg" style="width: 100%;"
                                    type="button">Log in</button></div>
                        </form>
                        <hr style="background-color: #bababa;">
                        <p class="text-center">Or&nbsp;<a class="text-decoration-none" href="#">Forget password</a></p>
                        <p class="text-center">Don't have an account? &nbsp;<a class="text-decoration-none" href="#"
                                data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#signin">Sign Up</a></p>
                    </div>
                </div>
            </div>
        </div><!-- End: signin -->
        <!-- Start: signup -->
        <div class="modal fade" role="dialog" tabindex="-1" id="signin">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Sign Up Now</h4><button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center"><button class="btn btn-primary text-start" style="width: 100%;"
                                type="button"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-github">
                                    <path
                                        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z">
                                    </path>
                                </svg>&nbsp; Continue with GitHub</button></div>
                        <div class="text-center mt-2"><button class="btn btn-light text-start border-dark"
                                style="width: 100%;background: rgb(255,77,77);color: rgb(255,255,255);"
                                type="button"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-google"
                                    style="color: rgb(255,255,255);">
                                    <path
                                        d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z">
                                    </path>
                                </svg>&nbsp; Continue with Google</button></div>
                        <form class="mt-4">
                            <div class="form-group mb-3">
                                <div class="input-group"><span class="text-primary input-group-text"><svg
                                            xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                            fill="currentColor" viewBox="0 0 16 16" class="bi bi-person-fill">
                                            <path
                                                d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z">
                                            </path>
                                        </svg></span><input class="form-control" type="text" required=""
                                        placeholder="Full Name"></div>
                            </div>
                            <div class="form-group mb-3">
                                <div class="input-group"><span class="text-primary input-group-text"><svg
                                            xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                            fill="currentColor" viewBox="0 0 16 16" class="bi bi-envelope-fill">
                                            <path
                                                d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z">
                                            </path>
                                        </svg></span><input class="form-control" type="email" required=""
                                        placeholder="Email"></div>
                            </div>
                            <div class="form-group mb-3">
                                <div class="input-group"><span class="text-primary input-group-text"><svg
                                            xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                            fill="currentColor" viewBox="0 0 16 16" class="bi bi-unlock-fill">
                                            <path
                                                d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2z">
                                            </path>
                                        </svg></span><input class="form-control" type="password" required=""
                                        placeholder="Password"></div>
                            </div>
                            <div class="form-group mb-3">
                                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"
                                        required="" checked=""><label class="form-check-label" for="formCheck-1">I agree
                                        all the terms and conditions.</label></div>
                            </div>
                            <div class="form-group mb-3"><button class="btn btn-primary btn-lg" style="width: 100%;"
                                    type="button">Sign Up</button></div>
                        </form>
                        <hr style="background-color: #bababa;">
                        <p class="text-center">Already have an Account?&nbsp;<a class="text-decoration-none" href="#"
                                data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#signup">Log In</a></p>
                    </div>
                </div>
            </div>
        </div><!-- End: signup -->
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
</body>

</html>